* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}

body {
    background-color: dark;
    height: 100%;
    width: 100%;
}

div {
    width: 100%;
}

li,
ul {
    width: auto;
}

a {
    text-decoration: none;
}

#root {
    height: 100%;
    width: 100%;
}

.MuiDialogContent-root {
    padding-top: 16px !important;
}

.MuiAlert-icon {
    width: auto !important;
}

.MuiPaper-root {
    width: auto;
    /* Do not put this !important */
}